tomli==2.4.1
accelerate==0.34.2
certifi==2026.2.25
pydantic_core==2.41.5
protobuf==6.33.6
transformers==4.57.6
wandb==0.25.1
nvidia-cufile==1.15.1.6
Mako==1.3.10
click==8.3.1
nvidia-cublas==13.1.0.3
GitPython==3.1.46
idna==3.11
packaging==26.0
torchvision==0.26.0
annotated-types==0.7.0
regex==2026.3.32
nvidia-cufft==12.0.0.61
nvidia-nvjitlink==13.0.88
triton==3.6.0
requests==2.33.1
nvidia-cusparselt-cu13==0.8.0
peft==0.18.1
nvidia-nvtx==13.0.85
nvidia-cusparse==12.6.3.3
colorlog==6.10.1
platformdirs==4.9.4
urllib3==2.6.3
nvidia-cusolver==12.0.4.66
gitdb==4.0.12
pydantic==2.12.5
nvidia-nvshmem-cu13==3.4.5
typing-inspection==0.4.2
torch==2.11.0
tqdm==4.67.3
nvidia-curand==10.4.0.35
Jinja2==3.1.6
PyYAML==6.0.3
mpmath==1.3.0
cuda-bindings==13.2.0
filelock==3.25.2
nvidia-cuda-nvrtc==13.0.88
numpy==2.2.6
cuda-pathfinder==1.5.0
nvidia-cudnn-cu13==9.19.0.56
tokenizers==0.22.2
nvidia-cuda-cupti==13.0.85
setuptools==81.0.0
nvidia-cuda-runtime==13.0.96
optuna==4.8.0
fsspec==2026.3.0
sympy==1.14.0
SQLAlchemy==2.0.48
charset-normalizer==3.4.6
typing_extensions==4.15.0
alembic==1.18.4
huggingface_hub==0.36.2
greenlet==3.3.2
networkx==3.4.2
pillow==12.2.0
safetensors==0.7.0
hf-xet==1.4.3
MarkupSafe==3.0.3
smmap==5.0.3
sentry-sdk==2.57.0
cuda-toolkit==13.0.2
nvidia-nccl-cu13==2.28.9
psutil==7.2.2
